@main("title for input view") {
        <form action="" method="POST">
			
			<fieldset>
				
				<legend>Search Twitter popularity</legend>
				
				<p class="group">
					<label for="trend1">Programming language #1</label>
					<input type="text" id="trend1" name="trend1" value="">
				</p>
				<p class="group">
					<label for="trend2">Programming language #2</label>
					<input type="text" id="trend2" name="trend2" value="">
				</p>
				<p class="group">
					<label for="trend3">Programming language #3</label>
					<input type="text" id="trend3" name="trend3" value="">
				</p>
				<p class="action group">
					<input class="button" type="submit" value="View trends">
				</p>
				
			</fieldset>
			
		</form>
}